<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781183113618-o23sb45tuesg4croqgis63mmic53d4a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781183113618-o23sb45tuesg4croqgis63mmic53d4a0</string>
	<key>API_KEY</key>
	<string>AIzaSyDXQV_0V-MPvGqN2QMyMM6kCB7ZskzRV9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>781183113618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jay.fengshui</string>
	<key>PROJECT_ID</key>
	<string>fengshui-home</string>
	<key>STORAGE_BUCKET</key>
	<string>fengshui-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:781183113618:ios:2a8f627026f2c3ef</string>
	<key>DATABASE_URL</key>
	<string>https://fengshui-home.firebaseio.com</string>
</dict>
</plist>