<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>954070711721-madhlr9vfq7uumu97ioehpa32mpfgogn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954070711721-madhlr9vfq7uumu97ioehpa32mpfgogn</string>
	<key>API_KEY</key>
	<string>AIzaSyBd6X_c9WvAHO3Ld2rUd8Z-RJ54p_tArMs</string>
	<key>GCM_SENDER_ID</key>
	<string>954070711721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FengShui</string>
	<key>PROJECT_ID</key>
	<string>feng-shui-2b0c3</string>
	<key>STORAGE_BUCKET</key>
	<string>feng-shui-2b0c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:954070711721:ios:a5f791864155116c</string>
	<key>DATABASE_URL</key>
	<string>https://feng-shui-2b0c3.firebaseio.com</string>
</dict>
</plist>